In [1]:
from sys import getsizeof

In [2]:
def show_size(x, k=0):
    print(k * '\t',
          f'type = {x.__class__}; ',
          f'size = {getsizeof(x)}; ',
          f'object = {x}',
          sep='')
    
    if hasattr(x, '__iter__'):
        if hasattr(x, 'items'):
            for y in x.items():
                show_size(y, k + 1)
        elif not isinstance(x, str):
            for y in x:
                show_size(y, k + 1)

In [3]:
a = range(10)
show_size(a)

type = <class 'range'>; size = 48; object = range(0, 10)
	type = <class 'int'>; size = 24; object = 0
	type = <class 'int'>; size = 28; object = 1
	type = <class 'int'>; size = 28; object = 2
	type = <class 'int'>; size = 28; object = 3
	type = <class 'int'>; size = 28; object = 4
	type = <class 'int'>; size = 28; object = 5
	type = <class 'int'>; size = 28; object = 6
	type = <class 'int'>; size = 28; object = 7
	type = <class 'int'>; size = 28; object = 8
	type = <class 'int'>; size = 28; object = 9

In [4]:
a = list(a)
show_size(a)

type = <class 'list'>; size = 136; object = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
	type = <class 'int'>; size = 24; object = 0
	type = <class 'int'>; size = 28; object = 1
	type = <class 'int'>; size = 28; object = 2
	type = <class 'int'>; size = 28; object = 3
	type = <class 'int'>; size = 28; object = 4
	type = <class 'int'>; size = 28; object = 5
	type = <class 'int'>; size = 28; object = 6
	type = <class 'int'>; size = 28; object = 7
	type = <class 'int'>; size = 28; object = 8
	type = <class 'int'>; size = 28; object = 9

In [5]:
a = tuple(a)
show_size(a)

type = <class 'tuple'>; size = 120; object = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
	type = <class 'int'>; size = 24; object = 0
	type = <class 'int'>; size = 28; object = 1
	type = <class 'int'>; size = 28; object = 2
	type = <class 'int'>; size = 28; object = 3
	type = <class 'int'>; size = 28; object = 4
	type = <class 'int'>; size = 28; object = 5
	type = <class 'int'>; size = 28; object = 6
	type = <class 'int'>; size = 28; object = 7
	type = <class 'int'>; size = 28; object = 8
	type = <class 'int'>; size = 28; object = 9

In [6]:
a = set(a)
show_size(a)

type = <class 'set'>; size = 728; object = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
	type = <class 'int'>; size = 24; object = 0
	type = <class 'int'>; size = 28; object = 1
	type = <class 'int'>; size = 28; object = 2
	type = <class 'int'>; size = 28; object = 3
	type = <class 'int'>; size = 28; object = 4
	type = <class 'int'>; size = 28; object = 5
	type = <class 'int'>; size = 28; object = 6
	type = <class 'int'>; size = 28; object = 7
	type = <class 'int'>; size = 28; object = 8
	type = <class 'int'>; size = 28; object = 9

In [7]:
a = {str(_): _ for _ in a}
show_size(a)

type = <class 'dict'>; size = 360; object = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}
	type = <class 'tuple'>; size = 56; object = ('0', 0)
		type = <class 'str'>; size = 50; object = 0
		type = <class 'int'>; size = 24; object = 0
	type = <class 'tuple'>; size = 56; object = ('1', 1)
		type = <class 'str'>; size = 50; object = 1
		type = <class 'int'>; size = 28; object = 1
	type = <class 'tuple'>; size = 56; object = ('2', 2)
		type = <class 'str'>; size = 50; object = 2
		type = <class 'int'>; size = 28; object = 2
	type = <class 'tuple'>; size = 56; object = ('3', 3)
		type = <class 'str'>; size = 50; object = 3
		type = <class 'int'>; size = 28; object = 3
	type = <class 'tuple'>; size = 56; object = ('4', 4)
		type = <class 'str'>; size = 50; object = 4
		type = <class 'int'>; size = 28; object = 4
	type = <class 'tuple'>; size = 56; object = ('5', 5)
		type = <class 'str'>; size = 50; object = 5
		type = <class 'int'>; size = 28; object = 5
	type = <class 'tuple'>; size = 56; object = ('6', 6)
		type = <class 'str'>; size = 50; object = 6
		type = <class 'int'>; size = 28; object = 6
	type = <class 'tuple'>; size = 56; object = ('7', 7)
		type = <class 'str'>; size = 50; object = 7
		type = <class 'int'>; size = 28; object = 7
	type = <class 'tuple'>; size = 56; object = ('8', 8)
		type = <class 'str'>; size = 50; object = 8
		type = <class 'int'>; size = 28; object = 8
	type = <class 'tuple'>; size = 56; object = ('9', 9)
		type = <class 'str'>; size = 50; object = 9
		type = <class 'int'>; size = 28; object = 9